# OS
.DS_Store

# IDEA
*.iml
.idea/

# Eclipse
.project
.settings/

# Rust/Cargo
/target

# Generated
scalapb/scalapb.proto
crates/*/src/protobuf/*
crates/ui/gen/*

# WhatsApp databases
crates/backend/resources/test/*/databases/*

# Development
#/_build
#/_data
TODO.md

# Application
#/log
#application.conf

*.log
