# OS
.DS_Store

# IDEA
*.iml
.idea/

# Eclipse
.project
.settings/

# VS Code
.vscode/

# Rust/Cargo
/target

# Generated
crates/ui/gen/*

# Test databases
crates/backend/resources/test/*/databases/*

# Development
TODO.md

# Application
*.log
